*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    max-height: 100vh;
}

img {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

.transition-fade {
    transition: .4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(100px);
}

.header {
    width: 100%;
    padding: 15px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 200;

    overflow: hidden;
    background-color: #333;
    text-decoration: none;
    color: white;
}

.header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px max(2em, 1.25vw);
    text-decoration: none;
}

.header a:hover {
    background: #ddd;
    color: black;
}

.logo {
    margin-right: 0.1vw;
    font-size: min(2.2vw, 24px);
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.langButton {
    background-color:transparent;
    border-radius:17px;
    border:0 solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size: min(2.2vw, 24px);
    padding:6px 24px;
    text-decoration:none;
    margin-top: 5px;
}

.langMobileButton {
    background-color:transparent;
    border-radius:17px;
    border:0 solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-size:15px;
    padding:6px 24px;
    text-decoration:none;
    margin-top: 10px;
}

.langButton:hover {
    background-color: #666666;
    color: #000000
}

.langButton:active {
    position:relative;
    top:1px;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hero__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
}


.hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero__prof {
    color: #4facfe;
    white-space: nowrap;
}

.hero__subtitle {
    font-size: 32px;
    font-weight: 400;
}

.hero__links {
    display: flex;
}

.hero__link {
    margin-right: 10px;

    font-size: 30px;
    color: #000;
}

.hero__link:hover {
    color: #4facfe;
}


.hero__box {
    max-width: 500px;
    justify-self: center;
    overflow: hidden;
    border: 10px solid #fff;

    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

    animation: ava-animate 5s infinite alternate;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.hero__box__green {
    max-width: 500px;
    justify-self: center;
    overflow: hidden;
    border: 10px solid #fff;

    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

    animation: ava-animate 5s infinite alternate;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.hero__box-img {
    animation: ava-bg 3s infinite alternate;
}

.arrow-6__right {
    position: absolute;
    right: 10px;
    top: 50vh;
}

.arrow-6__left {
    position: absolute;
    left: 10px;
    top: 50vh;
}

.arrow-6__right svg {
    width: 40px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
}
.arrow-6__right svg polygon,
.arrow-6__right svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #337AB7;
}
.arrow-6__right svg:hover polygon,
.arrow-6__right svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #000;
}
.arrow-6__right svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6__right svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

.arrow-6__left svg {
    width: 20px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
}
.arrow-6__left svg polygon,
.arrow-6__left svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #337AB7;
}
.arrow-6__left svg:hover polygon,
.arrow-6__left svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #000;
}
.arrow-6__left svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6__left svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 978px) {
    .hero {
        padding-top: 30px;
    }

    .mobile__hero {
        padding-top: 30px;
    }

    .hero__container {
        grid-row-gap: 20px;
    }

    .hero__title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .hero__subtitle {
        font-size: 22px;
        font-weight: 400;
    }

    .hero__description {
        font-size: 14px;
    }

    .hero__about {
        text-align: center;
    }

    .hero__links {
        justify-content: center;
    }

    .hero__box {
        max-width: 350px;
        justify-self: center;
    }
}

@keyframes ava-animate {
    0% {
        border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
    }

    40% {
        border-radius: 37% 63% 53% 47% / 67% 32% 68% 33%;
    }

    60% {
        border-radius: 23% 77% 39% 61% / 78% 54% 46% 22%;
    }

    100% {
        border-radius: 18% 82% 24% 76% / 43% 54% 46% 57%;
    }
}

@keyframes ava-bg {
    from {
        backdrop-filter: hue-rotate(0);
    }

    to {
        backdrop-filter: hue-rotate(90deg);
    }
}